.font-icons{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 5px;
    color: #878787;
}
.case-icon{
    transform: scaleX(1);
}
.portal-id{
    color: $brand-secondary;
}
